/* CSS de BASE */
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header i {
    font-size: 50px;
}
header h1 {
    padding-left: 10px;
}
nav
{
    display: flex;
    justify-content: space-around;
}
nav a {
    padding-left: 5px;
}