main {
    display: flex;
}
section {
    display: flex;
    flex-direction: column; 
    width: 70%;
}
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}
aside img {
    width: 80%;
    height: auto;
}