main {
    display: flex;
    justify-content: center;
}
.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column; 
    width: 70%;
}
section li {
    display: flex;
    flex-direction: column;
}
section img {
    width: 50%;
    height: 50%;
}
#info img {
    width: 70%;
    height: auto;
}
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}
aside img {
    width: 80%;
    height: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
#tablePurchase th {
    background-color: #9F87CD;
    padding: 5px;
    border: 2px solid black;
}
#tablePurchase td {
    background-color: #F7AC48 ;
    padding: 5px;
    border: 2px solid black;
}
.clientForm {
    margin-top: 3%;
}
.clientForm form {
    display: flex;
    flex-direction: column;
}
.clientForm input {
    width: 50%;
    margin-bottom: 2%;
}

