main {
    display: flex;
}
section {
    display: flex;
    flex-direction: column; 
    width: 70%;
}
section li {
    display: flex;
    flex-direction: column;
}
section img {
    width: 50%;
    height: 50%;
}
aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}
aside img {
    width: 80%;
    height: auto;
}